<div>
    <label for="months">Change Month</label>&nbsp;
    <select name="months" id="months" (change)="changeMonth($event.target.value)">
        <option value={{i}} *ngFor="let month of months; let i=index">{{month}}</option>
    </select>
    <br>
    <label for="years">Chnage Year</label>&nbsp;
    <select name="years" id="years" (change)="changeYear($event.target.value)">
        <option value={{year}} *ngFor="let year of years">{{year}}</option>
    </select>
</div>


<calendar [month]="month" [year]="year" (onDateSelect)="openModal($event)"
    (onDateDoubleClick)="showDateSchedules($event)">
</calendar>

<button (click)="showMonthSchedules(month+1, year)" id="month-schedule-btn">See this month's schedule</button>
<button (click)="showWeekWiseSchedule(month+1, year)" id="month-schedule-btn">See week wise schedule</button>

<div *ngIf="showModal">
    <class-scheduler-modal [date]="modalDate" (onClassSchedule)="hideModal()" (onCancel)="hideModal()">
    </class-scheduler-modal>
</div>


<button (click)="openModal()" id="add-schedule-btn">+ Add Schedule</button>

<div id="usage_instructions">
    <ul>
        <li>Single click on a date to schedule a class</li>
        <li>Double click on a date to see the schedules for that date</li>
    </ul>
</div>